[submodule "backend"]
	path = backend
	url = https://github.com/illright/innopoints-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/VanishMax/innopoints-frontend
	branch = master
